*{
    font-family: Varela, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #EAC5B0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.container{
    background-color: #F50CA0;
    border: 10px dotted #43DDE2;
    border-radius: 10px;
    width: 80vw;
    height: 35vw;
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container-title{
    font-size: 30px;
    color: #F9F940;
    margin-top: 0px;
    padding-top : 0px;
}

.instructions{
    margin:0px;
    font-size: 15px;
    color: #011064;
    font-weight: 700;
}

.game-container{
    display: flex;
    gap: 20px;
    font-size: 30px;
    color:#011064;
    font-weight: 600;
    justify-content: space-evenly;
}

.vertical-line{
    border-left: 10px dashed #43DDE2;
    height: 400px;
    position: absolute;
}

.human-container, .computer-container{
    /* margin:5%; */
    width: fit-content
}

.human-container{
    margin-left:0px;
}


.computer-container{
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.playing-options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.computer-input-label{
    margin-top: 0px;
    margin-bottom: 10px;
}

.computer-input{
    color: black;
    font-size: 20px;
    margin-top: 16%;
}

button{
    border-radius: 10px;
    height: 30px;
    width: 250px;
    border: 2px solid white;
    margin: 5%;
    height: fit-content;
    width: fit-content;
    padding: 5%;
    background-color: #43DDE2;
    color:#011064;
    font-size: 20px;
}

.human-score-container, .computer-score-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.human-score-card, .computer-score-card{
    height: 80px;
    width: 100px;
    background-color: #F9F940;
    border-radius: 10px;
    border: 6px solid #43DDE2;
    box-sizing: border-box;
    color:#011064;
    font-size: 20px;
    padding: 2%;
    text-align: center;
}
.human-score-container{
    margin-top: 22%;
    
}
.computer-score-container{
    margin-top: 12%;
    position: absolute;
}

.result{
    margin: 0px;
    color:#011064;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}